DM_INSTAMAP_WORKSPACE_ROOT=.
DM_INSTAMAP_DATA_DIR=./data
DM_INSTAMAP_ASSETS_DIR=./local-assets
DM_INSTAMAP_REFERENCES_DIR=./local-references
DM_INSTAMAP_WORKER_URL=http://127.0.0.1:8000
DM_INSTAMAP_ALLOW_REMOTE=false
